src/.deps
src/p2x
*.o
Makefile
autom4te.cache/
config.h
config.log
config.status
src/code-xml.rnc
src/code-xml.rng
src/namespaces.hh
src/p2xtests
stamp-h1
svn-version.txt
version.txt
*~
tests/sh/test_*.sh
src-js/node_modules
src-js/scanner-c.json
tests/sh/forall_tests.sh
tests/sh/log_*.txt
tests/sh/err_*.txt
*.min.js
