Source: p2x
Section: misc
Priority: optional
Maintainer: Johannes Willkomm <johannes.willkomm@googlemail.com>
Build-Depends: debhelper-compat (= 12), libfl-dev, shunit2, xsltproc,
 xmlstarlet, libcppunit-dev, trang, valgrind, re2c, python3, octave,
 zsh, npm, mocha
Standards-Version: 4.6.0
Homepage: https://github.com/rainac/p2x/
Rules-Requires-Root: no

Package: p2x
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Flexible text parser with XML and JSON output
 P2X can parse structured text into trees with XML output. Flexible
 configuration allows definition of parenthesisation, unary or binary
 operators, to determine the tree structure according to precedence
 and associativity of operators JSON output is also available.

Package: node-p2x
Architecture: all
Depends: ${misc:Depends}, npm, p2x
Suggests: p2x
Description: Flexible text parser with XML and JSON output
 P2X can parse structured text into trees with XML output. Flexible
 configuration allows definition of parenthesisation, unary or binary
 operators, to determine the tree structure according to precedence
 and associativity of operators JSON output is also available.
